<div class="login-page">
	<div class="login-box">
		<div class="login-content">
			<div class="cloud">
				<span class="glyphicon glyphicon-cloud ts-icon-cloud"></span>				
			</div>
			<div class="login-txt">
				<h3>SIGN IN</h3>
			</div>
			<form role="form">
				<div class="form-group">
					<input type="text"	class="form-control input-lg" name="accont" placeholder="Enter Accont ..." />
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-lg" name="password" placeholder="Enter Password ..." />
				</div>
				<div class="ts-form-btn">
					<button class="signInBtn btn btn-primary btn-lg center-block">Sign In</button>
					<!--<button class="btn btn-default btn-lg pull-right">Sign Up</button>-->
				</div>
			</form>			
		</div>
	</div>
</div>