<div class="login-page signUp-page">
    <div class="login-box">
        <div class="login-content">
            <div class="cloud">
                <span class="glyphicon glyphicon-send ts-icon-cloud"></span>
            </div>
            <div class="login-txt">
                <h3>SIGN UP</h3>
            </div>
            <form role="form">
                <div class="form-group">
                    <input type="text"	class="form-control input-lg" name="accont" placeholder="Enter Accont ..." />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Enter Password ..." />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Enter Password Again..." />
                </div>
                <div class="ts-form-btn">
                    <button class="signInBtn btn btn-success btn-lg center-block">Sign Up</button>
                    <!--<button class="btn btn-default btn-lg pull-right">Sign Up</button>-->
                </div>
            </form>
        </div>
    </div>
</div>